@model IEnumerable<OptumUniversity.Models.Disciplina>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Disciplinas</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayName("Carga Horária")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Periodo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargaHoraria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Periodo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.DisciplinaID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.DisciplinaID }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.DisciplinaID })
        </td>
    </tr>
}

</table>
