@model OptumUniversity.Models.Professor

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Professor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayName("Disciplina")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.ProfessorID }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>