
@model IEnumerable<OptumUniversity.Models.Professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("", "Professor", FormMethod.Get))
{
    <fieldset data-role="controlgroup">
        <label>@Html.RadioButton("searchUser", "Manhã")Manhã</label>
        <label>@Html.RadioButton("searchUser", "Noite")Noite</label>

    </fieldset>
    <input type="submit" value="Buscar" />

}

<font size="3" color="red">
    @ViewBag.Alerta
</font>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayName("Disciplina")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Turno)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProfessorID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProfessorID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProfessorID })
            </td>
        </tr>
    }

</table>