@model IEnumerable<OptumUniversity.Models.Professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<font size="3" color="red">
    @ViewBag.Alerta
</font>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table" ng-controller="MyController">
    <tr>
        <th ng-click="filtra('Nome')" style="cursor: pointer;">
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th ng-click="filtra('Turno')" style="cursor: pointer;">
            @Html.DisplayName("Turno")
        </th>
        <th style="cursor: pointer;">
            @Html.DisplayNameFor(model => model.Turno)
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="professor in professores | orderBy:sortType">
        <td>
            {{professor.Nome}}
        </td>
        <td>
            {{professor.Turno}}
        </td>
        <td>
            <a data-ng-href="@Url.Action("Edit", "Professor")/{{professor.ProfessorID}}" target="_self">Editar  </a> |
            <a data-ng-href="@Url.Action("Details", "Professor")/{{professor.ProfessorID}}" target="_self">Detalhes  </a> |
            <a data-ng-href="@Url.Action("Delete", "Professor")/{{professor.ProfessorID}}" target="_self">Deletar  </a>
        </td>
    </tr>


</table>